@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxannium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon_img {
    position: absolute;
    bottom: 50%;
    left: 60%;
    transform: translate(-63%, 20%);
    height: 25%;
}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 63.5%;
    right: 17%;
    font-size: clamp(8px, 5vw, 25px);
}

.pokemon_name {
    color: #3a444d;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 75.5%;
    top: 74%;
    left: 13.5%;
}

.input_search {
    width: 100%;
    padding: 3%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 550;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
    position: absolute;
    bottom: 8%;
    left: 55%;
    width: 73%;
    transform: translate(-55%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 3%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 550;
    color: white;
    background-color: #444;
    box-shadow: -2px 2px 0 #222, -4px 5px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}